# Files
.env
.DS_Store
*test.*
package-lock.json
config/starship/starship-default.toml

# Folders
node_modules
.codacy

# AI
.github/instructions/codacy.instructions.md
.claude/
plan.md
CLAUDE.md

# Added by ggshield
.cache_ggshield
