# IGNORE EVERYTHING
/*

# EXCEPT TRACK THESE FILES
!README.md
!/.zshrc
!/.bashrc
!/.nanorc
!/.p10k.zsh
!/.gitignore
!/.gitconfig
!/.aliases
!bin/

!/.config/npm-global.txt
!/.config/
/.config/**


# cspell config
!.config/configstore/cspell.json
!.config/configstore/
/config/**

# ...and my VS Code settings...
!.vscode/
.vscode/*
!.vscode/settings.json