# !------------------------------------
# @@@ LINUX
# !------------------------------------
if [[ -n "$ZSH_VERSION" ]]
then
	alias refresh="source ~/.zshrc"
else
	alias refresh="source ~/.bashrc"
fi

# Base
alias c="clear"
alias fenv="source ~/.zshenv"
alias fresh="clear && refresh"
alias aliasUpdate="fresh 2>&1 && c"

# LS replacements
alias ls="eza --icons --group-directories-last"
alias ll="ls -l"
alias la="ls -lah"
alias lt="ls --tree"

# Update and Upgrade
alias update="sudo apt update && sudo apt upgrade -y"

# Users and groups
alias adduser="sudo adduser"
alias deluser="sudo deluser --remove-home"
alias addgroup="sudo usermod -aG"
alias delgroup="sudo usermod -G"

# Permissions
alias xbin="chmod +x ~/bin/*"
alias rm="rm -i"

#
alias histg="history | fzf"
alias wget="wget --no-hsts"
alias rmdpkg="sudo apt-get --purge remove"

# SHH
alias sshcopy="ssh-copy-id -i ~/.ssh/id_ed25519.pub -p 22"

# !------------------------------------
# @@@ CHANGE DIRECTORIES
# !------------------------------------
alias dotfiles="cd $DOTFILES"
alias github="cd $GITHUB_DIR"
alias sshd="cd /etc/ssh"


# !------------------------------------
# @@@ FILE EDITS
# !------------------------------------
alias edit="$EDITOR ~/.config/dotfiles/config/zsh/.aliases"
alias base="$EDITOR ~/Library/CloudStorage/OneDrive-Personal/Documents/Espanso/match/base.yml"
alias alre="sed -i "s/~\/.bash_aliases/~\/.aliases/g" ~/.bashrc"
alias netcfg="sudo $EDITOR /etc/netplan/50-cloud-init.yaml"
alias cloudcfg="sudo $EDITOR /etc/cloud/cloud.cfg"

alias group="cat /etc/group"
alias findAlias="alias | fzf"


# !------------------------------------
# @@@ Manipulations
# !------------------------------------
alias comlist="cat test.html | tr "\n" "," > comma-list.txt"
alias gd="gobuster -w ~/.config/gobuster.txt"

# !------------------------------------
# @@@ GIT
# !------------------------------------
alias gs="git status"
alias gss="git status -s"
alias gsb="git status -bs"
alias gc="git clone"
alias gi="git init"
alias gcm="git commit -m"
alias gam="git commit --amend --no-edit"
alias ga="git add"
alias gaa="git add ."
alias gp="git push"
alias gpu="git push -u origin main"
alias gpl="git pull"
alias gco="git checkout -b"
alias gsw="git switch"
alias save="gaa && gcm \"chore: save point\""
alias incom="gaa && gcm \"initial commit\""
alias cached="git rm -r --cached"


# !------------------------------------
# @@@ NPM
# !------------------------------------
alias toi="npm init --scope=@taste-ink --init-author-email=pavel@tasteink.me -y"
alias npmi="npm init"
alias npmiy="npm init -y"
alias npmb="npm run build"
alias npmd="npm run dev"
alias npms="npm run start"
alias npmc="npm run commit"
alias clean-node="rm -rf ./node_modules && rm -rf package-lock.json"


# !------------------------------------
# @@@ TMUX
# !------------------------------------
alias tm="tmux attach -t main || tmux new -s main"
alias tn="tmux new -s"
alias ta="tmux attach -t"
alias td="tmux detach"
alias tl="tmux ls"
alias tk="tmux kill-session -t"
alias tka="tmux kill-server"
alias trn="tmux rename-session -t"
alias ts="tmux switch-client -t"

# !------------------------------------
# @@@ NETWORKING
# !------------------------------------
alias myip="curl http://ipecho.net/plain; echo"
# alias localip="ip -4 addr show eth0 | grep -oP "(?<=inet\s)\d+(\.\d+){3}""
alias ping="ping -c 3"


# !------------------------------------
# @@@ OS SPECIFIC
# !------------------------------------
alias code="code-insiders"
alias teach="code --extensions-dir ~/code_profiles/teach/exts --user-data-dir ~/code_profiles/teach/data"
alias brew-installs="brew list > .config/brew.txt"


# !------------------------------------
# @@@ GOTCHAS
# !------------------------------------
alias get="git"
alias got="git"
alias sudp="sudo"