# !------------------------------------
# @@@ LINUX
# !------------------------------------
# Force terminal to recognize changes to .zshrc
if [[ -n "$ZSH_VERSION" ]]
then
	alias refresh="source ~/.zshrc"
else
	alias refresh="source ~/.bashrc"
fi

alias fresh="refresh"
alias aliasUpdate="fresh 2>&1 && c"

# Clear terminal
alias c="clear"

alias ll="ls -lha"

# Ask before removing files
alias rm="rm -i"

# Update and Upgrade
alias uu='sudo apt update && sudo apt upgrade -y'

# Create a user
alias adduser='sudo adduser $1'

# Remove a user
alias deluser='sudo deluser --remove-home $1'

# Create a group
alias addgroup='sudo usermod -aG $1 $2'

# Remove a group
alias delgroup='sudo usermod -G $1 $2'

# Search history. Example usage: `histg git` to recent commands that use git
alias histg="history | grep"

# Remove Package
alias rmdpkg='sudo apt-get --purge remove $1'

# Make all files in ~/scripts executable
alias xbin='chmod +x ~/bin/*'

# Copy SSH Key to remote server
alias sshcopy="ssh-copy-id -i ~/.ssh/id_ed25519.pub -p 22 $1"

# Short for calling goBuster
alias gd="gobust"

# Rename ~/.bash_aliases to ~/.aliases
alias alre="sed -i 's/~\/.bash_aliases/~\/.aliases/g' ~/.bashrc"


# !------------------------------------
# @@@ CHANGE DIRECTORIES
# !------------------------------------
alias home="cd ~/"
alias github="cd ~/Github"
alias aclu-emails="cd ~/Github/PaleBluDot/aclu-emails"
alias cspell-dictionaries="cd ~/Github/PaleBluDot/cspell-dictionaries"
alias lint-config="cd ~/Github/PaleBluDot/lint-config"
alias psd="cd ~/Github/PaleBluDot/website"
alias dotfiles="cd ~/Github/PaleBluDot/dotfiles"
alias publications="cd ~/Github/American-Technion-Society/publications"
alias ats-emails="cd ~/Github/American-Technion-Society/email-templates"
alias ats="cd ~/Github/American-Technion-Society/purple"
alias tasteink="cd ~/Github/taste-ink/tasteink.studio"
alias sshd="cd /etc/ssh"



# !------------------------------------
# @@@ FILE EDITS
# !------------------------------------
# Edit aliases
alias edit="$EDITOR ~/.aliases"

alias base="$EDITOR ~/Library/CloudStorage/OneDrive-Personal/Documents/Espanso/match/base.yml"

# Configure Static IP
alias netcfg='sudo nano /etc/netplan/50-cloud-init.yaml'

# Configure Hostname
alias cloudcfg='sudo nano /etc/cloud/cloud.cfg'

# See Groups
alias group='cat /etc/group'



# !------------------------------------
# @@@ GIT
# !------------------------------------
alias gs="git status"
alias s="git status -s"
alias gbs="git status -bs"
alias clone="git clone"
alias gnit="git init"
alias gcm="git commit -m"
alias amend="git commit --amend --no-edit"
alias ga="git add"
alias gaa="git add ."
alias push="git push"
alias pushup="git push -u origin main"
alias pull="git pull"
alias nb="git checkout -b"
alias switch="git switch"
alias save="gaa && gcm \"chore: save point\""
alias incom="gaa && gcm \"initial commit\""
alias cached="git rm -r --cached"


# !------------------------------------
# @@@ NPM
# !------------------------------------
alias toi="npm init --scope=@taste-ink --init-author-email=pavel@tasteink.me -y"
alias npmi="npm init"
alias npmiy="npm init -y"
alias build="npm run build"
alias dev="npm run dev"
alias start="npm run start"
alias commit="npm run commit"
alias clean-node="rm -rf ./node_modules && rm -rf package-lock.json"


# !------------------------------------
# @@@ NETWORKING
# !------------------------------------
# Get your current IP
alias myip="curl http://ipecho.net/plain; echo"
# alias localip="ip -4 addr show eth0 | grep -oP '(?<=inet\s)\d+(\.\d+){3}'"
alias ping="ping -c 3"


# !------------------------------------
# @@@ OS SPECIFIC
# !------------------------------------
# Open VSCode Insiders
alias code="code-insiders"

# Use teach user data
alias teach="code-insiders --extensions-dir ~/code_profiles/teach/exts --user-data-dir ~/code_profiles/teach/data"

alias brew-installs="brew list > .config/brew.txt"


# !------------------------------------
# @@@ GOTCHAS
# !------------------------------------
alias get="git"
alias got="git"
alias sudp="sudo"